<div id="ajaxpage" class="easyui-panel" style="padding:5px;" data-options="fit:true">
	<table id="game-dg" title="<!--{$title}-->" class="easyui-datagrid" data-options="rownumbers:true,fit:true,fitColumns:true,singleSelect:true,pagination:true,url:'<!--{$getJsonDataUrl}-->',method:'get',pageSize:20,toolbar:'#game-tb'">
	  <thead>
		<tr>
          <th field='trindex' width='50'>序号</th>
          <th field='name' width='80'>游戏名称</th>
          <th field='swf_url' width='80'>游戏地址</th>
          <th field='js' width='80'>游戏介绍</th>
          <th field='target' width='80'>打开方式</th>
          <th field='plays' width='30'>统计</th>
          <th field='remark' width='20'>评分</th>
          <th field="remark_num" width="20">评分次数</th>
          <th field="cz" width="50">管理</th>
		</tr>
	  </thead>
	</table>
	<div id="game-tb" style="padding:5px;height:auto">
		<div>
		    <select id="gamecate" class="easyui-combotree"  style="width:200px;"></select>
			<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:ui_dialog( '<!--{$addUrl}-->?cate_id='+$('#gamecate').combotree('getValue'),this );">增加</a>
		</div>
	</div>
</div>
<script type="text/javascript">
		 $('#gamecate').combotree({
		    url: '{$get_cate_url}',
			method:'get',
		    required: false,
			onChange:function(){
				 gameList();
			},
		});
		function gameList(){
			var val = $('#gamecate').combotree('getValue');
			gridload('game',{cate_id:val});
		}
</script>