@charset "utf-8";
body{font-size: 12px;color: #888;overflow: hidden;}
.wrapper{ width: 640px;margin: 0 auto; overflow: auto; zoom:1;position: relative;padding: 10px 0}
#tabHeads {
    position: relative;
    width: 611px;
    padding:3px 0 0 9px;
    z-index: 10;
    margin: 0 auto;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    background: #f4f4f4 url(images/tab2MenuBg.gif) repeat-x left bottom;
}
    #tabHeads span {
        display: inline-block;
        /*width: 82px;
    height:30px;
    text-align: center;*/
        cursor: pointer;
        line-height: 29px;
        *margin-right: 5px;
        border: 1px solid #f4f4f4;
        color: #000;
        margin: 0 0 0 1px;
        padding: 0 16px;
        /*background:url("../../themes/default/images/dialog-title-bg.png") repeat-x;*/
    }
        #tabHeads span.focus {
            /*border-bottom: none;*/
            height: 30px;
            background-color: #fff;
            cursor: default;
            color: #464546;
            font-weight: bold;
            border: 1px solid #eee;
            border-bottom: 1px solid #fff;
        }
        #tabHeads span.hover {
            color: #464546;
            background-color: #e5e5e5;
            border: 1px solid #e5e5e5;
            border-top: 1px solid #f4f4f4;
            border-bottom: none;
        }
#tabBodys {
    border: 1px solid #f0f0f0;
    width: 620px;
    height: 325px;
    _height: 328px;
    margin: 0 auto;
    position: relative;
    top: -1px;
}
#selManager {
    width: 150px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d2d2d2;
    vertical-align: middle;
}
.panel { position: absolute; width: 620px;height:320px;background: #fff;}
#remote{ z-index: 200;}
#remote table{border-collapse: collapse;width: 620px; height: 300px; margin-top: 5px;}
#remote td.label{text-align: center;width: 80px; }
#remote td{height: 40px;}
td input {
    outline: none;
    height: 12px;
    line-height: 12px;
    padding: 6px 12px;
    overflow: hidden;
    vertical-align: middle;
    color: #bababa;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0 1px 0 #ededed;
}
#url {width: 495px;margin-bottom: 2px;}
#preview{width: 260px; height: 260px; position: absolute;top:50px; left: 341px; z-index: 9999;background-color: #eee}
.lock{
    position: absolute;
    width: 45px;
    height: 40px;
    top: 68px;
    left: 260px;
    background: url("../../themes/default/images/lock.gif") -2px -3px no-repeat;
    line-height: 40px;
    padding-top:13px;
}
#duiqi{ width: 62px; height: 38px;float: left}
#remoteFloat div,#localFloat div{cursor:pointer;opacity: 0.5;filter: alpha(opacity = 50);margin-left:1px;width:38px;height:36px;float:left;}
#remoteFloat .focus,#localFloat .focus{opacity: 1;filter: alpha(opacity = 100)}
#maskIframe{ width: 620px; height: 325px; position: absolute;z-index: 100; }
#flashContainer {
    margin: 6px;
    position: relative;
    /*margin-top: 35px;*/
}
#upload{width: 100px;height: 28px;float: right;cursor: pointer;}
#imageList {
    width: 620px;
    height: 279px;
    margin-top: 10px;
    overflow: hidden;
    overflow-y: auto;
    border-top: 1px solid #f0f0f0;
}
#imageList img{cursor: pointer ;border: 2px solid #fff}
#imgManager #imageList div {
    float: left;
    width: 83px;
    height: 83px;
    margin: 10px 10px 0 10px;
}
#selLocal {
    width: 150px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d2d2d2;
    vertical-align: top;
    margin-right: 5px;
}
#imgSearchTxt{padding-left:2px;margin-left:15px;background: #FFF;width:200px;height:21px;line-height:21px;border: 1px solid #d7d7d7;}
#searchList{width: 620px;overflow: auto;zoom:1;height: 270px;}
#searchList div{float: left;width: 116px;height: 135px;margin: 5px 15px;_margin:5px 10px;}
#searchList img{margin: 2px 8px;cursor: pointer;border: 2px solid #fff} /*不用缩略图*/
#searchList p{margin-left: 10px;_margin-left:8px;}
#imgType{
    width: 65px;
    height: 23px;
    line-height: 22px;
    border: 1px solid #d7d7d7;
}
#imgSearchBtn,#imgSearchReset{
    width: 100%;
    height: 25px;
    margin: 0 3px;
    line-height: 25px;
    background: #eee;
    border: 1px solid #d7d7d7;
    cursor: pointer
}
.msg{margin-left: 5px;}