<div id="ajaxpage" class="easyui-panel" style="padding:5px;height:auto" data-options="fit:true">
    <p>
        统计各个地区学科教师配备情况   开课率 = 学科教师 / 学校数量
        <span style="float:right;">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">表格</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">图标</a>
        </span>
    </p>
    <table id="activityStatistics-dg" title="<!--{$title}-->" class="easyui-datagrid" data-options="rownumbers:true,fit:true,fitColumns:true,singleSelect:true,pagination:false,url:'<!--{$json_acitivty_statistics_url}-->',method:'get',toolbar:'#activityStatistics-tb'">
        <thead>
            <tr>
                <th data-options="field:'city',width:20" rowspan="2">市州</th>
                <th colspan="3">小学</th>
                <th colspan="3">初中</th>
                <th colspan="3">高中</th>
            </tr>
            <tr>
                <th data-options="field:'xx_teacher',width:20">课节数量</th>
                <th data-options="field:'xx_school',width:20">备课数量</th>
                <th data-options="field:'xx_pecent',width:20">课程记录</th>
                <th data-options="field:'cz_teacher',width:20">课节数量</th>
                <th data-options="field:'cz_school',width:20">备课数量</th>
                <th data-options="field:'cz_pecent',width:20">课程记录</th>
                <th data-options="field:'gz_teacher',width:20">课节数量</th>
                <th data-options="field:'gz_school',width:20">备课数量</th>
                <th data-options="field:'gz_pecent',width:20">课程记录</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    function searchActivityStatistics(){
        var start_date_val = $("input[name='start_date']").val();
        var end_date_val = $("input[name='end_date']").val();
        gridload('activityStatistics',{start_date:start_date_val,end_date:end_date_val});
    }
</script>