<div id="tab1" class="tabcontent">
    <div class="form">
       <form action="<!--{$editDoUrl}-->" method="post" id="user_form" name="user_form" class="ui-form">
			<input type="hidden" id="user_id" name="user_id" value="<!--{$user['user_id']}-->"  />
            <div class="form_row">
                <label><span class="ui-form-required"></span>用户帐号：</label>
                <input type="text" class="form_input_200" value="<!--{$user['user_name']}-->" readonly="true" disabled="true"  datatype="*" /> 
				
            </div>

            <div class="form_row">
                <label><span class="ui-form-required">*</span>用户密码：</label>
                <input type="password" class="form_input_200"  id="user_pass" name="data[user_pass]" value="<!--{$user['user_pass']}-->" placeholder="用户密码"  datatype="s6-20" />
				<div class="info"><span class="ui-form-other"></span></div>
            </div>
			
            <div class="form_row">
                <label><span class="ui-form-required">*</span>确认密码：</label>
                <input type="password" class="form_input_200"  id="user_pass_two" name="user_pass_two" value="<!--{$user['user_pass']}-->" placeholder="确认密码" recheck="data[user_pass]" datatype="*" />
				<div class="info"><span class="ui-form-other"></span></div>
            </div>

            <div class="form_row">
                <label><span class="ui-form-required">*</span>用户姓名：</label>
                <input type="text" class="form_input_200"  id="user_realname" name="data[user_realname]" value="<!--{$user['user_realname']}-->" placeholder="用户真实姓名"  datatype="*" />
				<div class="info"><span class="ui-form-other"></span></div>
            </div>  

            <div class="form_row">
                <label><span class="ui-form-required">*</span>学籍ID：</label>
                <input type="text" class="form_input_200"  id="user_uid" name="data[user_uid]"  placeholder="学籍ID" value="<!--{$user['user_uid']}-->"  datatype="*"  />
				<div class="info"><span class="ui-form-other"></span></div>
            </div> 

            <div class="form_row">
                <label><span class="ui-form-required">*</span>所在学校：</label>
                <input type="text" class="form_input_200"  id="user_school_name" name="data[user_school_name]" value="<!--{$user['user_school_name']}-->" placeholder="所在学校"  datatype="*"  />
				<div class="info"><span class="ui-form-other"></span></div>
            </div> 

            <div class="form_row">
                <label>用户组：</label>
                <select name="data[user_group_id]" id="user_group_id" datatype="*"  class="form_select_200" >
 			        	{loop  $grouplist  $value}
                        <option value ="<!--{$value['group_id']}-->"><!--{$value['group_title']}--></option>
          				{/loop}
				</select>
				<div class="info"><span class="ui-form-other"></span></div>
            </div>  
            <div class="form_row">
                <label>状态：</label>

 <input class="ui-radio" type="radio" name="data[user_isok]" id="user_isok" value="1"  />正常
 <input class="ui-radio" type="radio" name="data[user_isok]" id="user_isok" value="0"  />禁用
<div class="info"><span class="ui-form-other"></span></div>

            </div>



            <div class="ui-form-item">
                <input type="submit" id="btn_submit" value="保存"/>
            </div> 
        </form>
			<script type="text/javascript">
				$(function(){
					syform_val('user_form');
                    SetValue(user_form["data[user_group_id]"],"<!--{$user['user_group_id']}-->");
                    SetValue(user_form["data[user_isok]"],"<!--{$user['user_isok']}-->");
				});
			</script>
    </div>
</div>

  