<div id="ajaxpage" class="easyui-panel" style="padding:5px;" data-options="fit:true">
    <table id="activity-dg" title="<!--{$title}-->" class="easyui-datagrid" data-options="rownumbers:true,fit:true,fitColumns:true,singleSelect:true,pagination:true,url:'<!--{$getJsonDataUrl}-->',method:'get',pageSize:20,toolbar:'#activity-tb'">
        <thead>
        <tr>
            <th field='activity_info_id' width='10'>活动ID</th>
            <th field='activity_info_title' width='20'>活动标题</th>
            <th field='activity_info_sync_label' width='10'>课程同步</th>
            <th field="activity_info_phase_label" width="10">活动学段</th>
            <th field="activity_info_type_label" width="10">活动类别</th>
            <th field="activity_info_class_label" width="10">活动类型</th>
            <th field="activity_info_start_date_label" width="10">活动开始时间</th>
            <th field="activity_info_evaluate" width="10">活动评分</th>
            <th field="activity_info_status_label" width="10">活动状态</th>
            <th field="activity_info_edit_label" width="10">编辑</th>
            <th field="activity_info_attachment_label" width="10">上传预告附件</th>
            <th field="activity_info_resource_label" width="10">上传活动资源</th>
            <th field="activity_member_list_label" width="10">成员管理</th>
        </tr>
        </thead>
    </table>
    <div id="activity-tb" style="padding:5px;height:auto">
        <div>
            <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:ui_dialog( '<!--{$add_activity_url}-->',this,800,500 );">添加活动</a>
        </div>
    </div>
</div>