<div id="ajaxpage" class="easyui-panel" style="padding:5px;" data-options="fit:true">
    <table id="activitySite-dg" title="<!--{$title}-->" class="easyui-datagrid" data-options="rownumbers:true,fit:true,fitColumns:true,singleSelect:true,pagination:false,url:'<!--{$json_acitivity_site_url}-->',method:'get'">
        <thead>
        <tr>
            <th field='site_id' width='10'>小站ID</th>
            <th field='site_name' width='10'>小站名称</th>
            <th field='site_logo' width='10'>小站logo</th>
            <th field="site_describe" width="10">小站介绍</th>
            <th field="site_join" width="10">小站人数</th>
            <th field="site_option_label" width="10">操作</th>

        </tr>
        </thead>
    </table>
</div>