<div id="ajaxpage" class="easyui-panel" style="padding:5px;height: 300px" data-options="fit:true">
    <table id="resourceselect-dg" title="<!--{$title}-->" class="easyui-datagrid" data-options="rownumbers:true,fit:true,fitColumns:true,singleSelect:true,pagination:true,url:'<!--{$json_resource_select_url}-->',method:'get',pageSize:20">
        <thead>
        <tr>
            <th field='id' width='10'>资源id</th>
            <th field='title' width='10'>资源名称</th>
            <th field='add_resource_url' width='10'>添加资源</th>
        </tr>
        </thead>
    </table>
</div>

