<div class="g-hd">
         <!--{eval  echo Cola_Tpl::widget_out("Modules_{$ucxk}_Controllers_Public",'top')}--> 
</div>	
<div class="g-wrap">
<div class="g-bd">
            <!--下载按钮部分-->   
 <div class="m-banner">
    <div class="m-banner-content">
         <div class="m-banner-btn">
              <a href="javascript:;" name="open_iphone" data-url="/Modules/{$ucxk}/static/mob/index.html" class="m-banner-iphone"></a>
              <a href="" class="m-banner-android"></a>
         </div>
    </div> 
 </div>
<!--功能介绍部分-->   
 <div class="m-introduce">
     <ul>
         <li class="m-introduce-decodeing">
             <i></i>
             <p>
                 <span>课程解码</span>
                 <em>书本课程扫码，线上、线下互动学习</em>
             </p>
         </li>
         <li class="m-introduce-qa">
             <i></i>
             <p>
                 <span>互动问答</span>
                 <em>对所学知识的提问，随时随地学习</em>
             </p>
         </li>
         <li class="m-introduce-download">
             <i></i>
             <p>
                 <span>资源下载</span>
                 <em>优秀资源，名师讲课，品质教学共分享</em>
             </p>
         </li>
         <li class="m-introduce-video">
             <i></i>
             <p>
                 <span>微视频</span>
                 <em>下载视频到手机，手机拍摄可分享</em>
             </p>
         </li>
         <li class="m-introduce-play">
             <i></i>
             <p>
                 <span>安全游戏</span>
                 <em>娱乐中，学习生命安全的知识</em>
             </p>
         </li>
     </ul>
     <div class="f-cb"></div>
 </div> 
 </div>
</div>