<div class="doclist1" name="reslist">
    <ul>
    	{loop $resources  $k $v}
        <li>
        	 
			<!--{eval $url = "/{$xk}/resource/view/{$v['id']}";$target="_blank";}-->
			{if $v['resource_type']==8}
				<div class="doc_typeIcon"><a href="{$url}" target="{$target}"><i class="iconL_bkj"></i></a></div>
			{else}
				<div class="doc_typeIcon"><a href="{$url}" target="{$target}"><i class="iconL_{$v['file_type']}"></i></a></div>
			{/if}
			
            <div class="doc_name"><a href="{$url}" target="{$target}">{$v['title']}</a></div>
            <div class="doc_desc">
			<span class="docRate f-fr">
			<!--{eval echo Models_Resource::init()->getStar($v['remark']);}-->{$v['remark']}
			<em class="f-fs12 s-fcGray">(浏览量 {$v['views']})</em>
                </span>                            
            	上传 <a href="{DOMAIN_NAME}/{$v['user_id']}/Space/Index" target="_blank">{$v['user_name']}</a>  | <!--{eval echo Models_Resource::init()->dateSpan($v['on_time'])}-->上传  |  大小:<!--{eval echo Models_Resource::init()->bytesToSize($v['file_size'])}-->  
            </div>
        </li>
		{/loop}
        
    </ul>
</div>