<div class="doclist1" name="reslist">
    <ul>
    	{loop $resources  $k $v}
        <li>
        	{if $v['resource_type']==4}
			  {if $user_info}  
			<!--{eval $url = HTTP_WENKU."info/down?id={$v['id']}"}-->
			   {else}
			<!--{eval $url = "javascript:loginDialog();"}-->
			   {/if}
			<!--{eval $target="";}-->
			{else}
			<!--{eval $url = "/{$xk}/resource/view/{$v['id']}";$target="_blank";}-->
			{/if}
            <div class="doc_typeIcon"><a href="{$url}" target="{$target}"><i class="iconL_{$v['file_type']}"></i></a></div>
            <div class="doc_name"><a href="{$url}" target="{$target}">{$v['title']}</a> {if $s == 'down'} | 下载时间：{date('Y-m-d',$v['down_time'])} {elseif $s=='fav'} | 收藏时间：{date('Y-m-d',$v['fav_time'])} {/if}</div>
            <div class="doc_desc">
			<span class="docRate f-fr">
			<!--{eval echo Models_Resource::init()->getStar($v['remark']);}-->{$v['remark']}
			<em class="f-fs12 s-fcGray">
				{if $s=='down'}
				(下载量{$v['downs']})
				{elseif $s=='fav'}
				(收藏量 {$v['favs']})
				{else}
				(浏览量 {$v['views']})
				{/if}
			</em>
			{if $s=='up'}
				<a href="javascript:;" data-url="/resource/del/s/up/uid/{$v['user_id']}/id/{$v['id']}" name="del" >删除</a>&nbsp;<span class="s-fcBlue">|</span>&nbsp;<a href="javascript:;" data-url="/resource/edit/s/up/uid/{$v['user_id']}/id/{$v['id']}" name="edit">编辑</a>
			{elseif $s == 'fav'}
				<a href="javascript:;" data-url="/resource/del/s/fav/uid/{$v['uid']}/id/{$v['id']}" name="del" >删除</a>
			{/if}
			
                </span>                            
            	上传 <a href="{DOMAIN_NAME}/{$v['user_id']}/Space/Index" target="_blank">{$v['user_name']}</a>  | <!--{eval echo Models_Resource::init()->dateSpan($v['on_time'])}-->上传  |  大小:<!--{eval echo Models_Resource::init()->bytesToSize($v['file_size'])}-->
            </div>
        </li>
		{/loop}
        
    </ul>
</div>