    <div class="inner">
 
 
        <ul class="f-mb10">
            <input type="hidden" name="hdn_ty" value="0">
            <input type="hidden" name="hdn_zs" value="0">
            <li>
                <strong class="font14">你来评分：</strong>
                <span class="orangeTxt">点击星星就能打分！</span>
            </li>
            <li class="rateControl" id="li_zs">
                ·
                <span>知识含量</span>
                <span name="i_stars">
                     <i class="icon_tc2"></i><i class="icon_tc2"></i><i class="icon_tc2"></i><i class="icon_tc2"></i><i class="icon_tc2"></i>
                </span>
                <span class="orangeTxt"></span>
            </li>
            <li class="rateControl" id="li_ty">
                ·
                <span>阅读体验</span>
                <span name="i_stars">
                    <i class="icon_tc2"></i><i class="icon_tc2"></i><i class="icon_tc2"></i><i class="icon_tc2"></i><i class="icon_tc2"></i>
                </span>
                <span class="orangeTxt"></span>
            </li>
        </ul>
        <span class="grayTxt f-fl mT5">评价可获得1金币，前五名双倍！</span>
        
        <div class="f-cb "></div>
    </div>
 