<!--内容&底部-->
        <div class="g-bd">
            <div class="m-nav clearfix f-mb10">
            <div class="m-breakNav f-fl">
                <i class="icon_tc1"></i>
                <span>当前位置</span>：<a href="javascript:;">学生 </a>>评测
            </div>
        </div>
        <!--{eval  echo Cola_Tpl::widget_out("Modules_{$ucxk}_Controllers_Study",'PublicStuInfo')}-->
         <!--{eval  echo Cola_Tpl::widget_out("Modules_{$ucxk}_Controllers_Study",'leftPublic')}-->    
        </div>
            <div class="g-mn f-fr">
                <div class="m-testWrap m-myLearningWrap">
                    <h2 class="tt f-fs14 s-fcGray f-mb10 s-bsdStyle1">
                       <label class="f-vam f-ml10">当前版本：</label>
                        <select size="1" name="bb" class="f-vam f-fs16 f-fwb">
                   {loop $bb_list $v}
                     {if $v['code'] == $bb}
                     <option value="{$v['code']}" selected="selected">{$v['name']}</option>
                    {else}
                    <option value="{$v['code']}">{$v['name']}</option>
                    {/if}
                  {/loop}   
                    </select>
                        <label class="f-vam">当前年级：</label>
                        <select size="1" name="nj" class="f-vam f-fs16 f-fwb" >
                          <option value="{$default_grade_code}">{$default_grade}</option>
                        </select>
                    </h2>
                    <div class="ct s-bsdStyle1">
                       <ul class="tab2Menu f-fs18 m-snavT f-mb10">
                        <li class="menuCell tabMenuCurrent f-fl" name="compositeEvaluate" evaluate_type ="3">
                          <a href="javascript:;" title="" class="tabLink">趣味心理测评</a>
                        </li>
                        <li class="menuCell f-fl" name="compositeEvaluate" evaluate_type = "1">
                          <a href="javascript:;" title="" class="tabLink">综合测评</a>
                        </li>
                        <li class="menuCell f-fl" name="unitEvaluate">
                          <a href="javascript:;" title="" class="tabLink">单元测评</a>
                        </li>
                        <li class="f-cb"></li>
                    </ul>
                        <div class="m-sct"><div class="unit f-mb5">
                      <div class="lst s-fcGray" name="evaluate_list">

                    </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
        <div class="f-cb"></div>
      </div>
    