      <div class="g-bd">
            <div class="m-banner">
                <ul>
                   <li><img src="{STATIC_PATH}/Modules/{$ucxk}/static/images/class-ready-dev.png" width="1000" height="510px;">
                        <div>
                           <h2>测评</h2>
                           <span>查看测评记录了解测评情况</span>
                       </div>
                       <a onclick="loginDialog();" href="javascript:;">立即体验</a>
                   </li>
                </ul>
            </div>

     <div class="m-introduce">
     <ul>
         <li class="m-introduce-decodeing">
             <i></i>
             <p>
                 <span>在线测验</span>
                 <!-- <em> </em> -->
             </p>
         </li>
         <li class="m-introduce-qa">
             <i></i>
             <p>
                 <span>在线完成</span>
                 <!-- <em></em> -->
             </p>
         </li>
         <li class="m-introduce-download">
             <i></i>
             <p>
                 <span>在线统计</span>
                 <!-- <em></em> -->
             </p>
         </li> 
     </ul>
     <div class="f-cb"></div>
 </div> 
</div>
    