<div class="tableViewCon">
        <a class="btn_back" href="javascript:;" onclick="history.back();"></a>
        <h3>详情页</h3>
    </div>
    <div class="m-p">
        <div class="w-p">
            <div class="hd">
                <h1>{$res['doc_title']}</h1>
                <p>
                   <span class="time fl">{date('Y-m-d H:i:s',$res['on_time'])}</span>
                    <span class="author fr">发布人：{$res['user_name']}</span>
                </p>
                <div class="cb"></div>
            </div>
            <div class="bd">
                <video controls="" autoplay="" name="media" style="width:100%"><source src="{$file_path}" type="video/mp4"></video>
            </div>
            
        </div>
    </div>