	<!-- 浏览器版本提示 -->
<div class="gb_hintbar" name="browser_info" style="display:none">
    <div class="inner">
        <div class="hintbar_txt">
            您目前使用的浏览器版本可能会存在一些体验上的问题，影响你您的使用，<br>建议您使用<a href="" class="browser">360</a>，<a href="" class="browser">搜狗</a>，<a href="" class="browser">chrome</a>等高级浏览器，保障你获得最佳的使用体验！
            <a href="javascript:;" name="forever_close">不再提示</a>
        </div>
    </div>
    <a title="点击退出" class="text_close" href="javascript:;" name="forever_close" >×</a>
</div>
<!-- ==浏览器版本提示== -->