    <div class="f-cb"></div>
    <div class="g-ft">
        <div class="g-ftc">
            主管：湖北省教育信息化发展中心、长江出版传媒股份有限公司        主办：湖北博盛数字教育服务有限公司、湖北科学技术出版社
            <br />
            服务邮箱：services@dodoedu.com 客服热线：400-8866-561 鄂ICP备13014028号-1
            <!--
			<br />
	软件名称：博盛生命安全教育课程支撑平台软件  版权：湖北博盛数字教育服务有限公司 版本:V1.0
	-->		
        </div>
    </div>

</div>

 <div class="totop">
		<a href="javascript:;" id="go_top" class="gotop spr"  >回到顶部</a>
		<a id="weixinbtn" class="weixinbtn spr" title="点击到APP下载页"  href="http://mobile.dodoedu.com/jiaocai/detail_{$xk}.html" target="_blank">微信</a>
		<div id="weixin-img"> <b></b>
		</div>
</div>	

<!--qq悬浮代码-->
    <div id="floatTools" class="rides-cs">
        <div class="floatL">
            <a style="display:none;" id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide(); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');" href="javascript:void(0);" target="_self" ;="">收缩</a>
            <a style="display:block;" id="aFloatTools_Show" class="btnOpen" title="查看在线客服" onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();});$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');" href="javascript:void(0);" target="_self" ;="">展开</a>
        </div>
        <div id="divFloatToolsView" class="floatR" style="display: none;">
            <div class="cn">
                <h3 class="titZx">请点击QQ咨询</h3>
                <ul>
                    <li>
                      <span style="float: left;margin-top: -8px;">咨询QQ：</span>
                      <!-- WPA Button Begin -->                    
                      <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA1MTExM18xOTE4NThfNDAwODg2NjU2MV8"></script>
                      <!-- WPA Button End --> </li>               
                </ul>
                <br/> 
                <h3>最新研训信息敬请关注</h3> 
                <ul>
                    <li>
                      <span>义教生命安全研修1群：</span><strong style="color: black">106084003</strong>
                    </li>
                    <li>
                      <span>义教生命安全研修2群：</span><strong style="color: black">58696956</strong>
                    </li>
                     <li>
                      <span>高中生命安全教师研修群：</span><strong style="color: black">55787867</strong>
                    </li>
                </ul> 
            </div>
        </div>
    </div> 
    <!--qq悬浮代码-->