<form action="<!--{$editDoUrl}-->" method="post" id="usergroup_form" name="usergroup_form" class="ui-form">
<div class="easyui-tabs" style="height:300px">
	<div title="基本信息" style="padding:10px">
		<input type="hidden" id="group_id" name="group_id" value="<!--{$group['group_id']}-->"  />
	    <div class="form_row">
	        <label><span class="ui-form-required">*</span>用户组名：</label>
	        <input type="text" class="form_input_200"  id="group_title" name="data[group_title]"  value="{$group['group_title']}" placeholder="用户组名"   datatype="*" />
			<div class="info"><span class="ui-form-other"></span></div>
	    </div>
	
	    <div class="form_row">
	        <label><span class="ui-form-required"></span>描述：</label>
	        <input type="text" class="form_input_200" id="group_description" name="data[group_description]" value="{$group['group_description']}"  placeholder="描述"    />
			<div class="info"><span class="ui-form-other"></span></div>
	    </div>
	
	    <div class="form_row">
	        <label>状态：</label>
	
	        <input class="ui-radio" type="radio" name="data[group_isok]" id="group_isok" value="1"  datatype="*" />正常 
	 <input class="ui-radio" type="radio" name="data[group_isok]" id="group_isok" value="0"  />禁用
	
			<div class="info"><span class="ui-form-other"></span></div>
	    </div>
	</div>
	<div title="模块权限" style="padding:10px">
			<table id="purview-dg" title="模块" class="easyui-datagrid" data-options="rownumbers:true,fit:true,fitColumns:true,singleSelect:true,url:'<!--{$purviewUrl}-->?group_id=<!--{$group_id}-->',method:'get',pageSize:50" style="height:250px;">
			  <thead>
				<tr>
                  <th field="module_title" width="80">模块标题</th>
                  <th field="module_isok" width="80">状态</th>
                  <th field="cz" width="50">选择</th>
				</tr>
			  </thead>
			</table>
	</div>
	
	
</div>	

<div class="ui-form-item">
        <input type="submit" id="btn_submit" value="保存"/>
    </div> 
</form>


			<script type="text/javascript">
				$(function(){
					syform_val('usergroup_form');
                    SetValue(usergroup_form["data[group_isok]"],"<!--{$group['group_isok']}-->");
				});
			</script>
 

  