<!--{loop $group['rows'] $key $value}-->
	<!--{eval $group['rows'][$key]['trindex']=$key;}-->
	<!--{eval $group['rows'][$key]['trid']=$value['group_id'];}-->
	<!--{if $value['group_isok']==1 }-->
		<!--{eval $group['rows'][$key]['group_isok']="<a href=\"javascript:;\" onclick=\"javascript:ui_ajax('{$isOkUrl}?group_id={$value['group_id']}&ok=0',this);\"><span class=\"icon-table icon-isok\"></span>正常</a>";}-->
	<!--{else}-->
		<!--{eval $group['rows'][$key]['group_isok']="<a href=\"javascript:;\" onclick=\"javascript:ui_ajax('{$isOkUrl}?group_id={$value['group_id']}&ok=1',this);\"><span class=\"icon-table icon-isjz\"></span>禁用</a>";}-->
	<!--{/if}-->

<!--{eval $group['rows'][$key]['group_order']="<a href=\"javascript:;\" onclick=\"javascript:ui_order('{$orderUrl}?group_id={$value['group_id']}&type=up',this);\"><span class=\"icon-table icon-up\"></span>升</a>";}-->
<!--{eval $group['rows'][$key]['group_order'].=" <a href=\"javascript:;\" onclick=\"javascript:ui_order('{$orderUrl}?group_id={$value['group_id']}&type=down',this);\"><span class=\"icon-table icon-down\"></span>降</a>";}-->

<!--{eval $group['rows'][$key]['cz']="<a href=\"javascript:;\"  onclick=\"javascript:ui_dialog('{$editUrl}?group_id={$value['group_id']}',this);\"><span class=\"icon-table icon-isedit\"></span>修改</a>";}-->

	<!--{if $value['group_gd']==0 }-->
	<!--{eval $group['rows'][$key]['cz'].=" <a href=\"javascript:;\"  onclick=\"javascript:ui_qr('{$delUrl}?group_id={$value['group_id']}',this);\"><span class=\"icon-table icon-isdel\"></span>删除</a>";}-->
	<!--{/if}-->
<!--{/loop}-->
 
<!--{eval echo json_encode($group)}-->