  <div class="g-sd f-fl">
          <div class="m-ulWrap s-bsdStyle1 f-mb10">
            	<div class="m-ui clearfix">
                	<div class="uf f-fl">
                        <a href="{DOMAIN_NAME}/{$child_id}/Space/index" target="_blank" title="" ><img src="{$child_icon}" width="72" />
                        </a>
                    </div>
                    <ul class="uilst f-fr">
                    	<li class="item">
                        <a href="{DOMAIN_NAME}/{$child_id}/Space/index" title="" target="_blank">
                        <strong class="f-fs14 f-vam f-mr10">{$child_realname}</strong>
                        </a>
                        <i class="icon-level" title="目前等级{$child_level}级">
                          <i class="num{$child_level}"></i>
                        </i>
                        </li>
                        {if isset($info['school_class_info']['class_id']) && isset($info['school_class_info']['class_name'])}
                             <li class="item">
                                <a href="{DOMAIN_NAME}/class/{$info['school_class_info']['class_id']}" title="" target="_blank" class="a-thil">{$info['school_class_info']['class_name']}
                                </a>
                            </li>
                        {/if}
                        {if isset($info['school_class_info']['school_id']) && isset($info['school_class_info']['school_name'])}
                             <li class="item">
                                <a href="{DOMAIN_NAME}/school/{$info['school_class_info']['school_id']}" title="" target="_blank" class="a-thil">
                                    <strong>{$info['school_class_info']['school_name']}</strong>
                                </a>
                            </li>
                        {/if}
                    </ul>
                </div>
                <ul class="m-ullst s-fcGray">
                	<li class="item">已学习<strong>{$info['study_video']}个</strong>微视频，<strong>{$info['study_e_textbook']}个</strong>电子教材 
                    </li>
                    <li class="item">参与<strong>{$info['evaluate_count']}次</strong>评测
                    </li>
                    <li class="item">提出<strong>{$info['question_count']}个</strong>问题和回答<strong>{$info['answer_count']}个</strong>问题
                    </li>
                    <li class="item">本周共有<strong>{$info['course_count']}个</strong>课程活动
                    </li>
                </ul>
            </div>

         <div class="m-snavU s-bsdStyle1 f-mb10 clearfix">
                <a href="/{$xk}/Parent/studyHistoryCount" title="学习统计" class="item a-Grayl s-bdrcG f-tac f-fl">                  
                    <i class="icon-selfResource"></i>
                    <div class="txt f-tac">学习统计</div>
                </a>
                <a href="/{$xk}/Parent/evaluateHistory" title="测评统计"  class="item a-Grayl s-bdrcG f-tac f-fl">
                    <i class="icon-selfLesssonReady"></i>
                    <div class="txt f-tac">测评统计</div>
                </a>
                <a href="/{$xk}/Parent/course" title="课堂评价" class="item a-Grayl f-tac f-fl">
                    <i class="icon-FAQsS"></i>
                    <div class="txt f-tac">课堂记录</div>
                </a>
            </div>

<!--              <div class="m-lhis s-bsdStyle1">
                <div class="tt"><h2 class="s-fcGray f-fs14">学校表现</h2></div>
                <div class="ct">
                    <dl class="item">
                        <dt class="stt"><a href="" title="" target="" class="a-secl">李晓然</a> 获得了刘老师的勋章</dt>
                        <dd class="info s-fcGray clearfix"><div class="f-fl">三（1）班</div><div class="date f-fr">2014年7月8日 星期天</div></dd>
                    </dl>
                    <dl class="item">
                        <dt class="stt"><a href="" title="" target="" class="a-secl">李晓然</a> 获得了刘老师的勋章</dt>
                        <dd class="info s-fcGray clearfix"><div class="f-fl">三（1）班</div><div class="date f-fr">2014年7月8日 星期天</div></dd>
                    </dl>
                    <dl class="item">
                        <dt class="stt"><a href="" title="" target="" class="a-secl">李晓然</a> 获得了刘老师的勋章</dt>
                        <dd class="info s-fcGray clearfix"><div class="f-fl">三（1）班</div><div class="date f-fr">2014年7月8日 星期天</div></dd>
                    </dl>
                </div>
            </div>
       -->