<div class="g-bd">
    <div class="m-banner">
        <ul>
            <li>
                <!--{eval if(role_code==2): }-->
                <img src="{DODOJC}/Modules/{$ucxk}/static/images/lesson_03.jpg" width="1000" height="510px;">
                <div>
                    <h2>课程</h2>
                    <span>查看课堂记录了解课堂质量</span>
                </div>
                <!--{eval else: }-->
                <img src="{DODOJC}/Modules/{$ucxk}/static/images/lesson_03.jpg" width="1000" height="510px;">
                <div>
                    <h2>课堂</h2>
                    <span>查看课堂记录评价课堂质量</span>
                </div>
                <!--{eval endif; }-->

                <a href="javascript:;" onclick="loginDialog();">立即体验</a>
            </li>
        </ul>
    </div>

    <div class="m-introduce">
        <ul>
            <li class="m-introduce-decodeing">
                <i></i>
                <p>
                    <span>轻松备课  智慧集结</span>
                    <em>文本、图片、视频、测试在线预览，只有你想不到的，没有你做不到的。</em>
                </p>
            </li>
            <li class="m-introduce-qa">
                <i></i>
                <p>
                    <span>预设课堂  精准灵活</span>
                    <em>课程日历精确到班，没有教师也能上，保证课堂零间断。</em>
                </p>
            </li>
            <li class="m-introduce-download">
                <i></i>
                <p>
                    <span>优质课堂 师生共建</span>
                    <em>师生互评实现教学信息对称分布，教学质量、学习效率同步提高。</em>
                </p>
            </li> 
        </ul>
    </div>
    <div class="f-cb"></div>

</div>
