 <div class="g-bd g-bd-learn">
            <div class="m-banner s-bsdStyle1">
                <ul>
                   <li>
                    <img src="{STATIC_PATH}/Modules/{$ucxk}/static/images/study_03.jpg
" width="1000" height="510px;">
                        <div>
                           <h2>学习</h2>
                           <span>查看学习记录了解学习情况</span>
                       </div>
                       <a onclick="loginDialog();" href="javascript:;">立即体验</a>
                   </li>
                </ul>
            </div>
    
     <div class="m-introduce">
     <ul>
         <li class="m-introduce-decodeing">
             <i></i>
             <p>
                 <span>帮我学习 </span> 
                 <em>电子教材和微视频与教材完全同步</em>
             </p>
         </li>
         <li class="m-introduce-qa">
             <i></i>
             <p>
                  <span>帮我统计</span> 
                 <em>学习轨迹和统计与学习深度融合</em>
             </p>
         </li>
         <li class="m-introduce-download">
             <i></i>
             <p> 
                 <span>一起学习</span>
                 <em>和其他同学一起学习，互助和交流</em>
             </p>
         </li> 
     </ul>
     <div class="f-cb"></div>
 </div> 
 </div>