<script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
<div style=" no-repeat;height:70px;">
   <!--background:url({STATIC_ADMIN_PATH}images/logo.gif) -->
    <div>
    	{if $xk=='xl'}
		<h1>心理健康</h1>
		{elseif $xk == 'sm'}
		<h1>生命与安全</h1>
		
		{/if}
    </div>
    <div style="float:right;padding: 8px 35px 8px 14px;
         margin-bottom: 20px;
         text-shadow: 0 1px 0 rgba(255,255,255,0.5);
         background-color: #fcf8e3;
         border: 1px solid #fbeed5;
         -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
         border-radius: 4px; color: #3a87ad;
         background-color: #d9edf7;
         border-color: #bce8f1;"  >[<!--{$user['user_name']}-->]，欢迎您！您正在使用[<script type="text/javascript"> document.writeln(remote_ip_info.province);
             document.writeln(remote_ip_info.city);
             document.writeln(remote_ip_info.isp);</script>]IP登录！</div>

    <div style="width:110px; position:absolute;right:0px; bottom:10px;"> 
        <a href="javascript:;" onclick="javascript:ui_dialog('/Admin/User/edit/xk/{XK}?user_id=<!--{$user['user_id']}-->',this);" style="text-decoration:none; color:white; margin-left:2px;margin-right:2px;"  >修改密码</a>

        <span class="space">|</span>
        <a href="/Admin/Sign/exit/xk/{$xk}" style="text-decoration:none; color:white; margin-left:2px;margin-right:2px;">注销</a>

    </div>
</div>



<!--		

<span style="float:right;">
                  <a href="index-loginout.htm" class="easyui-linkbutton" >退出</a>
                  </span>

-->